[Photon]
## Photon App IDs
RealtimeAppId = your-realtime-app-id
FusionAppId = your-fusion-app-id
PunAppId = your-pun-app-id
VoiceAppId = your-voice-app-id
QuantumAppId = your-quantum-app-id
FunAppId = your-fun-app-id
ChatAppId = your-chat-app-id
Region = us

[PlayFab]
## PlayFab Title ID
TitleId = your-playfab-title-id

## PlayFab API URL
Url = https://your-playfab-api-url.playfabapi.com

[Mothership]
## Mothership Base URL
BaseUrl = https://your-mothership-base-url.com

[Steam]
## Steam App ID to spoof (480 for Spacewar)
AppId = 480